
.container-inv{
    background-image: url("../images/coins2.jpeg");
    display: block;
    min-height: 1000px;
    padding-top: 100px;
    padding-right: 50px;
    padding-left: 50px;
    
}

.p, .h1{
    color: aliceblue;
}

.h1{
    margin-top: 50px;
    font-size: 60px;
}

.p{
    font-size: 30px;
}

a{
    text-decoration: underline;
}