.container-inv {
  background-image: url("../images/goldback.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 80px;
  padding-right: 50px;
  padding-left: 50px;
  height: 100vh;
}

.h1 {
  color: aliceblue;
  margin-top: 50px;
  font-size: 60px;
  font-family: Times New Roman;
  border-top-left-radius: 40px 40px;
  border-top-right-radius: 40px 40px;
}

.p {
  color: aliceblue;
  text-align: left;
  padding-left: 35px;
  line-break: strict;
  font-size: 2.1vw;
  font-family: Times New Roman;
  border-bottom-left-radius: 40px 40px;
  border-bottom-right-radius: 40px 40px;
}

a {
  text-decoration: underline;
}

@media screen and (min-device-width: 300px) and (max-device-width: 420px) {
  .container-inv {
    padding-top: 30px;
    height: max-content;
    background-size: 260% 100%;
  }
  .p {
    font-size: large;
  }
}
