.contracts-container {
  background-image: url("../images/contract4.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.contracts {
  border: solid #272727 3px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 40px;
}

.list-title {
  font-size: 40px;
  color: aliceblue;
  font-family: Times New Roman;
}

.list-item {
  font-size: 25px;
  color: aliceblue;
  font-family: Times New Roman;
}

@media screen and (min-device-width: 300px) and (max-device-width: 420px) {
  .contracts-container {
    background-size: 100% 100%;
    overflow: scroll;
  }
}
