.aboutus-container {
    background-image: url("../../../../assets/images/goldback.jpg");
    height: 100vh;
    color: aliceblue;
}


.khalifa-image{
    height: 60vh;
    margin-left: 30px;
    margin-right: auto;
    box-shadow: 0 0 8px 8px white inset;
}

.about{
    width: 35vw;
    height: 60vh;
    margin-left: auto;
    border: solid white;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 25px;
    
}

@media screen and (min-device-width:300px) and (max-device-width:420px) {
    .aboutus-container{
        height: max-content;
    }
}