.header-background {
  background-image: url("../images/title\ background.jpg");
  background-size: 120vw;
  background-repeat: no-repeat;
}

.nav-btn {
  color: rgb(209 213 219);
  transition: all 200ms ease;
  font-weight: 600;
}

.nav-btn-selected {
  color: goldenrod;
  transform: scale(1.2);
  font-weight: 700;
}

.nav-btn:hover {
  color: goldenrod;
  transform: scale(1.3);
}

.header-btn {
  color: goldenrod;
  border: 1px goldenrod solid;
  transform: rotate(45deg);
  width: 60px;
  height: 60px;
  transition: all 200ms ease;
}

.header-btn:hover {
  border-color: white;
  background-color: goldenrod;
  color: white;
}

.dollars {
  background-image: url("../images/dolars.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.up {
  transform: rotate(135deg);
}

#top-navbar{
  position:fixed;
  background-color: #1C1702;
}
